@import 'helpers/mixins.scss';
@import 'helpers/colours.scss';
@import 'helpers/variables.scss';

* {
	box-sizing: border-box;
}

body {
	background-color: #34495E;
	font-family: Helvetica, Arial, sans-serif;
	
	@include medium-up {
		background-color: red;
	}

	@include large-up {
		background-color: green;
	}
}